.navbar{
    background-image: none;
}

.author{
  color:#FF3F50;
}

td {
    padding: 15px;
    text-align: left;
}

#front {
  font-size: 22px;
}

#navbar-fed.navbar-default { /* #3C3C3C - #222222 */
    padding: 10px;
    font-size: 14px;
    /*color: #FF3F50;*/
    background-color: #36C3BF;
    border: 0px;
    border-radius: 0;
}
#navbar-fed.navbar-default .navbar-nav>li>a:hover,
#navbar-fed.navbar-default .navbar-nav>li>a:focus,
#navbar-fed.navbar-default .navbar-nav>li>ul>li>a:hover,
#navbar-fed.navbar-default .navbar-nav>li>ul>li>a:focus,
#navbar-fed.navbar-default .navbar-nav>.active>a,
#navbar-fed.navbar-default .navbar-nav>.active>a:hover,
#navbar-fed.navbar-default .navbar-nav>.active>a:focus {
    color: #595B60;
    /*background-color: #36C3BF;*/
    background: -webkit-linear-gradient(top, #d8d559 0%, #d8d559 100%);
    background: linear-gradient(to bottom, #d8d559 0%, #d8d559 100%);
}


#navbar-fed.navbar-default .navbar-toggle:hover,
#navbar-fed.navbar-default .navbar-toggle:focus {
    background-color: #d8d559 ;
}
#navbar-fed.navbar-default .navbar-nav>li>a,
#navbar-fed.navbar-default .navbar-nav>li>ul>li>a,
#navbar-fed.navbar-default .navbar-brand {
    color: #595B60 ;
}
#navbar-fed.navbar-default .navbar-toggle .icon-bar,
#navbar-fed.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-fed.navbar-default .navbar-toggle:focus .icon-bar {
    background-color:  #000000 ;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#bioTable.td{
  font-size: 22px;
}

#quickTake{
    background: #C4D2E2;
    position: relative;
    z-index: 6;
    float: left;
    width: 100%;
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
        /*color: #787878;*/
}

#profilePicture{

}

#profilePicture img {
  height: 175;
  width: 175;
  float: left;

}
#userName{
  position: relative;
  display: table;
  cursor: pointer;
  margin-bottom: 4px;
}

#topBadges{

}
#topBadges img {

}

#name{

}

#city{

}

#memberSince{

}

#topAffiliates{

}

#topInterests{

}

#miniFeed{
  background-color: HSL(59, 62%, 70%);
}

#bio{
  background-color: HSL(355, 100%, 80%);
  font-size: 2.4em;
}

#description{
  font-size: 1.2em;

}

#contactInfo{
  font-size: 1.2em;
}

#experience{

  background-color: HSL(355, 100%, 80%);
  font-size: 2.4em;

}

#skillsAndInterests{
  background-color: HSL(355, 100%, 80%);
  font-size: 2.4em;
}

#skills{

}

#interests{

}
.meta {
  width: 400px;
  padding: 5px 20px 5px 10px;
  background: #676767;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: italic;
  color: #FFFFFF;
}
