<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</head>

<nav id ="navbar-fed" class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/contact">Contact us</a></li>
    <li><a href ="/geocoding_example">Geocoding Example</a></li>
  </ul>
</nav>
