<html>
<head>
<title>EXPRESS</title>
</head>

<%- include('templates/header.ejs', {user: user}) %>
<body>
<h3> ABOUT </h3>
<p>     Our goal was to create a social media platform connecting people to community involvement opportunities.  To our knowledge, there is no dedicated social media application for people to improve their community.  We wanted to create a space where people can self-organize into groups to build connections and strengthen their community through projects.  Our application aggregates  postings by community members and allows others in the community to join.  For example, if someone wanted to organize a walkathon for charity, they could make a post about it using our application.  The application has two main components: the project aggregator and the user profile.<br><br>

    The project aggregator is the primary feature of the application.  This feature allows users to create postings of projects or events.  Some examples could include: sports events to raise awareness for a cause, charity events to raise money, or something as simple as getting people together to plant a community garden.  After the user creates a post, other users in the same area will see the posts and can choose to join the event.   Each post will contain the date and time of the event, a description, who is organizing it, and a list of users who will attend the event.<br><br>
    The second aspect of the application is the user profile.  This functions similarly to many other social media platforms but with a few differences that set it apart.  Users can share their name, photo, skills, affiliations and a biography of themselves.  Their profile will also display things like how many years they have been active, and past events or projects that the user has participated in through the application.  We also wanted to make community improvement fun, so we added a badge system to introduce an element of gamification.  For example, users can earn badges based on the number of projects they’ve completed or total hours spent volunteering.  These badges will also be displayed on their profile. </p>
</body>
</html>
