<html>
<head>
<title>EXPRESS</title>
</head>

<%- include('templates/header.ejs', {user: user}) %>
<body>
<h3> ABOUT </h3>
<p> About stephen </p>
</body>
<% include templates/footer.ejs %>
</html>
