<html>
<head>
<title>EXPRESS</title>
</head>

<%- include('templates/header.ejs', {user: user}) %>
<body>
  <div id="fed-jumbo" class="jumbotron">
    <div style="text-align:center; color:#FF3F50;" class="container">

      <h1 > The team! </h1>
        <h2 > Rock Chalk 3: </h2>
        <h3>Stephen Wiss</h3>
        <h3>Paul McElroy</h3>
        <h3>Omar Alzubbi</h3>
        <h3>Justin Lee</h3>
        <h3>Liia Butler</h3>
    </div>
    <div style = "text-align:center;">
					<img src= "http://i.imgur.com/xbZChIN.png" title="source: imgur.com" /></img>
  </div>
</body>
<% include templates/footer.ejs %>
</html>
