<!DOCTYPE html>
<html>
<h1> <%- include('templates/header.ejs', {user: user}) %> </h1>
  <body>
    <h1><%= title %></h1>
    <div class="container">
      <p> Repond to <%= parent%> `s Post </p>
      <p><%- myform %></p>
    </div>
  </body>
</html>
