
<!DOCTYPE html>
<html>
<<<<<<< Updated upstream
<%- include('templates/header.ejs', {user: user}) %>
=======
  <% include templates/header.ejs %>
>>>>>>> Stashed changes
  <body>
    <h1><%= title %></h1>
    <div class="container">
      <p><%- myform %></p>
    </div>
  </body>
</html>
