<html>
<head>
<title>formTest</title>
</head>
<%- include('templates/header.ejs', {user: user}) %>

<div id="fed-jumbo" class="jumbotron">
  <div style="text-align:center; color:#FF3F50;" class="container">
    <h1>Snazz with us!</h1>
      <h2> Join today and get involved locally!</h2>
  <%- myform %>
  </div>
</div>

<% include templates/footer.ejs %>
</html>
