<html>
<head>
<title>formTest</title>
</head>
<%- include('templates/header.ejs', {user: user}) %>

<div id="fed-jumbo" class="jumbotron">
  <div style="text-align:left;" class="container">
  <%- myform %>
  </div>
</div>

<% include templates/footer.ejs %>
</html>
