<!DOCTYPE html>
<html>
<head>
<title>EXPRESS</title>
</head>

<body>
<% include templates/header.ejs %>
<h3> Google Geocoding API Example </h3>
<p> Here is an example that uses the Google Geocoding API to take an address and turn it into GPS Coordinates</p>
</body>
</html>
