<!DOCTYPE html>
<html>
    <body>
      <%- include('templates/header.ejs', {user: user}) %>
    <div id="fed-jumbo" class="jumbotron">
      <div class="container">
        <h1 style = "text-align:center; color:#FF3F50"> Community Service Bulletin Board </h1>
          <%- results %>
      </div>
    </div>
  </body>
  <% include templates/footer.ejs %>
</html>
