
<html>
<%- include('../templates/header.ejs', {user: user}) %>
<head>

<title>Name Here</title>
</head>
<body>
	<div id="quickTake">
      <div id="profilePicture">
        <p> Profile Picture </p>
				<img id="profilepic" src="myapp/views/Profile/stockphoto.png" height="175" width="175"></img>
      </div>
      <div id= "userName">
        <p> User Name </p>
      </div>
      <div id="topBadges">
        <p> Top Badges </p>
      </div>
      <div id="name">
        <p> Name </p>
      </div>
      <div id="city">
        <p> City </p>
      </div>
      <div id="memberSince">
        <p> Member Since </p>
      </div>
      <div id="topAffilates">
        <p> Top Affiliates </p>
      </div>
      <div id="topInterests">
        <p> Top Interests </p>
      </div>
      <!--add message button here, make hidden when on own profile-->
	</div>
  <div id="miniFeed">
    <p> Mini Feed </p>
  </div>
	<div id="bio">
    <p> Biography </p>
		<p class="meta"></p>
    <div id="description">
      <p> Description </p>
    </div>
    <div id="contactInfo">
      <p> Contact Information </p>
    </div>
	</div>
  <div id="experience">
    <p> Experience </p>
		<p class="meta"></p>

  </div>
  <div id="skillsAndInterests">
    <p> Skills and Interests </p>
		<p class="meta"></p>

    <div id="skills">
      <p> Skills </p>
    </div>
    <div id="interests">
      <p> Interests </p>
    </div>
  </div>
</body>
</html>
